{% extends 'leave_form.html' %}


{% block content %}


<div class="table-responsive table-shadow" style="background-color: bisque;">
    
    {% if view_leave %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Reason</th>
              <th scope="col">Leave Date</th>
              
              <th scope="col">Status</th>
              <th scope="col">Submitted Date</th>
              {% if user.register.user_type == 'manager' %}
              <th scope="col">Change Status</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
              {% for leave in view_leave %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ leave.reason}}</td>
              <td>{{ leave.leave_date}}</td>
              
              {% if leave.status == 'approved' %}
              <td style="color:green;font-weight: bold">{{ leave.status }}</td>
              {% elif leave.status == 'pending'  %}
              <td style="color:rgb(255, 115, 0)">{{ leave.status }}</td>
              {% else %}
              <td style="color:rgb(255, 8, 0)">{{ leave.status }}</td>
              {% endif %}
              <td>{{ leave.date }}</td>

              {% if user.register.user_type == 'manager' %}
              <td><a href="{% url 'update_leave' leave.id %}">Change status</a></td>
              {% endif %}


             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No Leaves can be found...</span>
    {% endif %}

</div>

{% endblock %}